.btn-container
    display: 
    
    .btn
        display: table
        text-align: center
        background: transparent
        margin-bottom: $padding-m
        cursor: pointer

        a
            display: table
            color: $color-white
            padding: 16px 36px 18px
            border: 2px solid $color-white
            transition: $transition

        &:hover
            a
                border: 2px solid $color-primary