* 
	margin: 0
	padding: 0
	box-sizing: border-box

html,
body
	min-height: 100%

body
	font-family: 'Raleway', sans-serif
	font-size: 19px
	position: relative
	background: $color-dark-purple
	color: $color-white

	&:before 
		content: ""
		opacity: 0
		transition: $transition

	&.overlay
		&:before
			content: ""
			display: block
			position: fixed
			top: 0
			left: 0
			height: 100%
			width: 100%
			z-index: 10
			background-color: rgba(0,0,0,0.8)
			opacity: 1

	h1 
		font-family: Road Rage, sans-serif
		padding: $padding-m 0 0
		font-size: 28px

		@media only screen and (min-width: $tablet)
			font-size: 90px
			padding: $padding-xl 0 0

	h2 
		font-family: Road Rage, sans-serif
		font-size: 23px
		margin-bottom: 42px

		@media only screen and (min-width: $tablet)
			font-size: 60px

	ul
		list-style: none

	a 
		text-decoration: none
		color: $color-black

	p
		line-height: 28px
		padding-bottom: $padding-l

	img
		width: 100%

	hr
		border-top: 2px solid $color-border
		border-bottom: none
		margin: $padding-l 0

		@media only screen and (min-width: $desktop)
			margin: 0

	.btn
		display: block
		color: $color-white
		padding: 12px
		width: 100%
		text-align: center
		background: $gradient
		background-size: 200% auto
		margin-bottom: $padding-m
		cursor: pointer
		transition: $transition

		&:hover
			background-position: right center

	.flex
		display: flex

	.center
		text-align: center

	.block
		display: block

	
	.searchBox
		position: relative

		form
			height: 100%
			display: flex
			flex-wrap: wrap
			justify-content: flex-end

			.seachBoxLabel
				background: $color-primary
				cursor: pointer
				z-index: 8
				width: 60px
				height: 60px
				position: relative
				border-radius: 50%
				order: 2

				label
					font-size: 16px
					display: block
					color: #FFFFFF
					position: absolute
					left: 1px
					top: 25px
					pointer-events: none

				&:before
					content: ''
					pointer-events: none
					position: absolute
					bottom: 21px
					left: 50%
					transform: translateX(-50%)
					width: 18px
					height: 18px
					border: solid 3px #FFFFFF
					border-radius: 50%
					z-index: 11
				
				&:after
					content: ''
					pointer-events: none
					position: absolute
					bottom: 18px
					right: 18px
					width: 9px
					height: 3px
					background-color: #FFFFFF
					transform: rotate(54deg)
					margin-top: 14px
					margin-left: 9px
					z-index: 11

			.searchBoxInput
				.searchTerm
					order: 1
					z-index: 5
					line-height: 26px
					margin: 0 -60px 0 0
					font-size: 20px
					border: none
					background-color: #FFFFFF
					color: #444444
					width: 0
					height: 60px
					border-radius: 40px
					transition: all ease-in-out 0.15s 0s
					box-shadow: inset 0 0 3px rgba(0,0,0,0.33)

					&.active
						padding: 0 30px
						width: 450px
						transition: all ease-in-out 0.15s 0s

	.wrapper
		position: relative
		width: 100%
		max-width: 1440px
		margin: 0 auto
		padding: 0 $padding-m

		@media only screen and (min-width: $desktop)
			padding: 0

	header
		background-color: transparent
		padding: 48px 0
		position: fixed
		width: 100%
		margin: 0 auto
		z-index: 10

		.wrapper
			display: flex
			flex-wrap: wrap
			justify-content: flex-end

			.hamburger 
				width: 28px
				height: 28px
				cursor: pointer
				align-self: center
				z-index: 999
				text-transform: none

				@media only screen and (min-width: $tablet) 
					display: none

				.icon 
					position: absolute
					margin-left: 2px
					margin-top: 10px
					width: 28px
					height: 3px
					background-color: $color-primary
					transition: all ease-in-out 0.2s

					&:before 
						content: ''
						position: absolute
						top: -8px
						left: 0
						width: 28px
						height: 3px
						background-color: $color-primary
						transition: all ease-in-out 0.2s

					&:after
						content: ''
						position: absolute
						top: 8px
						left: 0
						width: 28px
						height: 3px
						background-color: $color-primary
						transition: all ease-in-out 0.2s

					&.cross
						background-color: #fff
						height: 0

						&:before
							top: 0
							-webkit-transform: rotate(-45deg)
							transform: rotate(-45deg)
						
						&:after
							top: 0
							-webkit-transform: rotate(45deg)
							transform: rotate(45deg)

			nav 
				display: flex
				transform: translateX(100%)
				position: fixed
				top: 0
				right: 0
				width: 100%
				max-width: 200px
				height: 100vh
				z-index: -1
				background: $color-white
				padding: 80px 0
				box-shadow: 0 0 7px rgba(0,0,0,0.33)
				transition: all ease-in-out 0.2s

				@media only screen and (min-width: $tablet) 
					transform: translateX(0%)
					box-shadow: none
					max-width: unset
					height: auto
					background: transparent
					padding: 0
					position: relative
					z-index: 1

				&.open 
					transform: translateX(0%)
					-moz-transform: translateX(0%)
					-webkit-transform: translateX(0%)
					-ms-transform: translateX(0%)

				ul
					display: flex
					flex-wrap: wrap
					flex-direction: column
					width: 100%

					@media only screen and (min-width: $tablet)
						flex-direction: row
						justify-content: flex-end

					li 
						border-bottom: 1px solid $color-border

						@media only screen and (min-width: $tablet)
							border: none
						a 
							color: $color-white
							margin-left: 48px
							font-size: 16px
							font-weight: 700
							display: block
							transition: all ease-in-out 0.2s

							&:hover
								color: $color-secondary


						&:last-child
							a
								padding-right: 0

	.hero
		width: 100%
		height: 100vh
		position: relative

		&.video
			&:before
				content: ""
				display: block
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				height: 100%
				width: 100%
				z-index: 3
				background-color: rgba(0,0,0,0.4)
				opacity: 1

			video
				width: 100%
				height: auto
				position: absolute
				top: 0
				left: 0

				
			.wrapper
				height: 100%
				.entrance
					position: absolute
					left: 0
					top: 50%
					right: 0
					transform: translateY(-50%)
					z-index: 5

	main
		.caption
			display: block
			text-align: center
			padding: 12px 0 $padding-l
			font-size: 16px
			font-weight: 100
			font-style: italic

		.important
			text-transform: uppercase
			font-weight: 900
			text-decoration: underline

		section
			padding: $padding-xl 0

			&#all-products
				&.search
					display: none

		.search-form
			.results
				padding: $padding-xl 0

		.col
			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: $gradient
				transition: $transition
				z-index: 0
				visibility: hidden

			.circle
				position: absolute
				border-radius: 50%
				width: 200px
				height: 200px
				background: $color-white
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				display: flex
				flex-wrap: wrap
				flex-direction: column
				justify-content: center
				align-items: center
				z-index: 6
				transition: $transition

				@media only screen and (min-width: $desktop)
					width: 250px
					height: 250px

				h2 
					font-size: 30px
					font-weight: 300
					background: $gradient
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent
					padding-bottom: 18px

					@media only screen and (min-width: $desktop)
						font-size: 36px

				.rating
					font-size: 38px
					font-weight: 300
					background: $gradient
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent
					line-height: normal

					@media only screen and (min-width: $desktop)
						font-size: 36px

		.products
			width: 100%
			height: 100%
			perspective: 1000px
			box-shadow: 0 0 4px rgba(0,0,0,0.15)

			&.showRating
				.products-flipper
					transform: translateX(-100%) rotateY(-180deg)
					transform-origin: center right

				.back-note
					display: none
					
			&.showNote
				.products-flipper
					transform: translateX(100%) rotateY(180deg)
					transform-origin: center left

				.back-rating
					display: none

		.products-flipper
			position: relative
			width: 100%
			height: 100%
			cursor: pointer
			transform-style: preserve-3d
			transition: all 0.5s


		.side 
			width: 100%
			height: 100%
			backface-visibility: hidden

			&.front

			&.back-rating
				position: absolute
				top: 0
				left: 0
				background: $gradient
				z-index: 5
				transform: rotateY(180deg)

			&.back-note
				position: absolute
				top: 0
				left: 0
				background: $gradient
				z-index: 5
				transform: rotateY(-180deg)

				.content
					color: $color-white
					padding: $padding-l

		.listEntry
			width: 100%
			background-color: #fafafa
			padding: $padding-l $padding-m			
			position: relative
			font-weight: 200
			z-index: 5

			@media only screen and (min-width: $desktop)
				height: calc(100% - 352px)

			h2
				font-size: 32px
				padding-bottom: 16px

			.tobacco
				font-size: 19px
				padding-bottom: 32px

			.flavor
				font-size: 15px
				font-style: italic
				padding-bottom: $padding-m

		&#login
			background: url('../../img/hero/hero-02.jpg')
			background-repeat: no-repeat
			background-size: cover
			width: 100%
			height: 100vh
			position: relative
			background-position: center center

			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(0,0,0,0.6)
				z-index: 5

			.wrapper
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				z-index: 10

			h1
				background: transparent
				-webkit-text-fill-color: $color-white

			.login-mask
				padding-top: $padding-l
				width: 100%
				max-width: 400px
				margin: 0 auto

	form
		input
			display: block
			margin-bottom: 36px
			width: 100%
			padding: 12px 0
			font-size: 19px
			font-weight: 200
			background: transparent
			color: $color-white
			border: none
			position: relative
			border-bottom: 2px solid $color-white

		.submit-container
			width: 100%
			position: relative
			border: 2px solid $color-white

			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background: $gradient
				opacity: 0
				transition: $transition

			&:hover
				&:before
					opacity: 1

			input[type="submit"]
				cursor: pointer
				transition: $transition
				background: transparent
				margin-bottom: 0
				border: none

		textarea
			font-family: 'Raleway', sans-serif
			font-size: 19px
			color: $color-dark-grey
			border: 2px solid $color-border
			resize: none
			padding: 12px
			margin-bottom: $padding-l

		#producer, #sort
			display: none

			&.show
				display: block

		&.addTabak
			padding-top: $padding-l

			@media only screen and (min-width: $tablet)
				padding-top: $padding-xl

			section
				display: flex
				flex-wrap: wrap
				flex-direction: column
				background: transparent
				transition: $transition
				padding: $padding-s 0

				@media only screen and (min-width: $tablet)
					padding: $padding-xl 0

				&.active
					padding: $padding-m $padding-s
					background: $color-white
					z-index: 10

					@media only screen and (min-width: $tablet)
						padding: $padding-xl $padding-l

			.submit-container
				width: 100%
				margin-top: auto

				@media only screen and (min-width: $tablet)
					max-width: 370px

				input
					border: 2px solid $color-border

					&:hover
						color: $color-white
						border: 2px solid transparent

			input
				border: 2px solid $color-border
				color: $color-dark-grey

				@media only screen and (min-width: $mobile)
					padding: $padding-s

			select
				border: 3px solid $color-border
				padding: 12px
				text-align-last: center
				cursor: pointer
				width: 100%
				font-size: 19px
				color: $color-dark-grey
				margin-bottom: $padding-xl


	#addTabak
		h2
			padding-bottom: $padding-l

	.search-form
		position: fixed
		left: 0
		right: 42px
		bottom: 50px
		display: flex
		justify-content: flex-end
		z-index: 99999

		input
			position: absolute
			width: 0
			height: 100%
			right: 0
			border: none
			border-top-right-radius: 30px
			border-bottom-right-radius: 30px
			transition: $transition
			z-index: -1

			&.active
				width: 375px
				padding: 12px
				border: 2px solid #ccc

		figure
			border-radius: 50%
			background: #ccc
			padding: 12px
			cursor: pointer
			svg
				width: 20px
				height: 20px

	fieldset
		border: none

		legend
			font-size: 24px
			margin-bottom: 24px

		.sort-options
			margin: 0 -12px

		label
			cursor: pointer
			padding: 12px
			transition: $transition

			&:hover
				background: $gradient
				color: $color-white

			&.active
				background: $gradient
				color: $color-white

		input[type=radio]
			position: absolute
			clip: rect(0, 0, 0, 0)
			pointer-events: none


.svg-container
	display: none