.col-60
	width: 100%

	.row
		margin: 0 -48px
		overflow: visible !important
		
		&.flex
			display: flex
			flex-wrap: wrap

		.col
			margin: 0 0 60px 0
			padding: 0 48px
			width: 100%

			@media only screen and (min-width: $desktop)
				&.col-40
					width: 66.66666%

				&.col-30
					width: 50%

				&.col-20
					width: 33.33333%

				&.col-15
					width: 25%
