@font-face
	font-family: 'Road Rage'
	src: url('../../font/Road_Rage.woff2')  format('woff2')

/*Font*/

$headline: Road Rage, sans-serif

/*Color*/
$color-primary: #950FA4
$color-secondary: #6200EB
$color-dark-purple: #1E1939
$color-black: #000
$color-white: #fff
$color-light-grey: #eee
$color-dark-grey: #aaa
$color-border: #f2f2f2

/*Padding*/	
$padding-s: 12px
$padding-m: 24px
$padding-l: 48px
$padding-xl: 72px 



/*Gradient*/
$gradient: linear-gradient(135deg, #6200EB 0%, #950FA4 100%)

/*Transition*/
$transition: all 0.3s cubic-bezier(.25,.8,.25,1)

/*Text Shadow*/
$text-shadow: 0 0 20px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 20px #950FA4, 0 0 40px #950FA4, 0 0 60px #950FA4, 0 0 80px #950FA4, 0 0 100px #950FA4

/*Media Queries*/
$desktop: only screen and (min-width: 1280px)
$tablet: only screen and (min-width: 768px)
$mobile: only screen and (min-width: 480px)